*,::after,::before{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body
{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}


nav{
    box-shadow: 0 0 10px 1px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
img
{
   width:100px; 
   height:80px;   
}
.nav-items
{
    display: flex;
    border-bottom:1px solid rgb(90, 71, 71);
    width: 14vw;
    height: 4vh;
    padding:5px 5px 5px 5px;
    font-size: 16px;
    font-weight: 600;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    right: 50px;
}

.nav-items > li
{
    list-style-type: none;

}

.nav-items>li:hover{
        font-size: 18px;
        transition: font-size 0.4s;
}

.Main
{
    display: flex;
    flex-flow: column wrap;
    border: 1px solid white;
    border-radius: 20px;
    height:78vh;
    width: 65vw;
    margin-top: 13px;
    position: relative;
    left: 200px;
}

.c-1
{
   border:1px solid transparent;
   position: relative;
   top:30px;
   left: 20px;
}

.Footer-menu{
    border: 1px solid transparent;
    box-shadow: 0 0 10px 1px black;
    width: 100vw;
    height: 7.5vh;
    margin-top: 16px;
    padding-top: 20px;
    text-align: center;
}