/*Global Settings*/
*,::after,::before{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: capitalize;
}


img {
    width: 100px;
    height: 80px;
}


.Container
{
    width: 100vw;
    height: 100vh;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
}


/*Local Settings*/
.Container
{
    display: grid;
    gap: 0.7rem;
    align-content: space-between;
}



/*Header Section*/

.Header-menu
{
    background: linear-gradient(to right, #759dc5, #94acd8);
    padding: 0;
    margin: 0;
    height: 11vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow:0 0 8px 1px #000000;
}

.nav-items
{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items:center;
    width:23vw;
    margin-right: 2rem;

}


.m-1:hover
{
    font-size: 1.4rem;
    text-decoration:underline;
    transition: 0.3s ease-in all;
}

/*Foote Section*/

.Footer-menu
{
    background: linear-gradient(to right, #444c53, #000000);
    color:whitesmoke;
    text-align: center;
    height: 6vh;
    padding-top: 12px;
    box-shadow: 0 0 7px 1px rgb(187, 187, 187);
}

/*Main Section*/
.Main
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width:50vw;
    height: 60vh;
    box-shadow:0 0 12px 4px black;
    border-radius: 20px;
    position: relative;
    left: 360px;
}

.Main
{
    display: flex;
    flex-flow: column wrap;
    justify-content:center;
    align-items:center;
}

.Heading
{
    border: 1px solid gray;
    border-radius: 10px;
    padding:10px 10px 10px 10px;
    margin-bottom: 30px;
}


.points
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 43vw;
}

.item
{
    list-style-type: none;
}

.btn-outer
{
    width: 44vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.btn{
    border-radius: 10px;
    background: linear-gradient(to right, #4a545e, #7b8699);
    font-size: 1rem;
    font-weight:900;
    color:rgb(183, 208, 238);
    width: 8vw;
    height:6vh;
}

.btn:hover
{
    background: linear-gradient(to right, #4a545e, #616879);
}