.Form
{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Form-Container{
    background: linear-gradient(to right, #a0b3c5, #7596d4);
    color: rgb(2, 1, 1);
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-flow: column wrap;
    justify-content:space-evenly;
    align-items: center;
    border: 2px solid rgb(111, 157, 196);
    border-radius: 30px;
    box-shadow:0 0 4px 1px rgb(85, 129, 153);
}


.Form-Container> div
{
    display: flex;
    border-radius:5px;
    box-shadow: 0 0 3px 2px rgb(32, 71, 77);
    border:1px solid rgb(35, 40, 41);
}

.Name,.Password,.Email
{
    width:19vw;
    height:7vh;
    justify-content:center;
    align-items: center;
}

.Name:hover,
.Password:hover,
.Email:hover
{
    background-color:rgb(111, 154, 180);
    color: black;
}



.input-1
{
    border-radius: 6px;
    height: 5vh;
    width:18vw;
    font-size:1rem;
    font-weight: 700;
    text-align: center;
    color: rgb(26, 43, 26);
}


.btn-container:hover
{
    box-shadow: 0 0 5px 2px rgb(2, 1, 1);
}

.Heading-1
{
    font-size: 1.5rem;;
    color:#081041b2;
    width:20vw;
    height: 9vh;
    background: linear-gradient(to right, #a8bdd1, #97b5ec);
    justify-content: center;
    align-items: center;
}
